.wrapper
  = render "items/top-head"
  - breadcrumb :mypage, @mypage
  = render "layouts/breadcrumbs"
.mypage
  .mypage_main
    = render "sidehead"
    .circle
      %span 出品
      %i.fas.fa-camera
= render "items/top-foot"
