.item{
  width: 100%;
  background-color: #f8f8f8;
  height: 2500px;
  

  .item-header{
  width: 100%;
  text-align: center;
  margin-top:35px;
  }

.item-exhibit{
  height: 1500px;
  background-color: white;
  width: 700px;
  margin: auto;
  margin-top: 40px;
}
  .item-exhibit__content{
    padding-top: 25px;
    border-bottom: 3px solid #f8f8f8;
  }
    .item-exhibit__content h1{
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 30px;
      text-shadow: 10px;
    }

  .item-exhibit__image{
    margin-top: 40px;
    margin-left: 40px;
    .item-exhibit__image__title{
      display: flex;
    }
      .item-exhibit__image__title h1{
        font-weight: bold；
    }
      .item-exhibit__image__title button{
        background-color: red;
        color: white;
        margin-left: 8px;
        border-radius: 2px;
        font-size: 12px;
        padding: 2px 4px;
        font-weight: bold;
      }
    .item-exhibit__image__text{
      font-size: 13px;
      margin-top: 5px;
    }
    .item-exhibit__image__photo{
      height: 160px;
      width: 620px;
      background-color: #f5f5f5;
      margin-top:15px;
      border: 1px dashed #ccc;
      
    }
    .item-exhibit__image__photo h1{
      text-align: center;
      margin-top: 55px;
      font-size: 13px;
    }
    .item-exhibit__image__photo p{
      text-align:center;
      font-size: 13px;
    }
    .item-exhibit__image__border{
      width: 700px;
      border-bottom: 3px solid #f8f8f8;
      padding-top: 45px;
      margin: auto;
    }
  }
}


            
