$red: #ea352d;
$blue: #86d6fc;

@mixin input {
  width: 95%;
  margin: 15px 0 0;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  line-height: 1.5;
  font-size: 16px;
  height: 30px;
  &:focus {
    border: 1px solid $blue;
    outline: 0;
  }
}
@mixin select{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #222;
  font-size: 16px;
  height: 48px;
  line-height: 1;
  outline: none;
  padding: 13px 16px;
  margin: 15px 0 0;
  width: 100%;
}
@mixin require {
  background: $red;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  vertical-align: top;
}
@mixin optional{
  background: #BFBFBF;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}


.item {
  background-color: #F5F5F5;
  font-size: 16px;
  .item-header {
    height: 130px;
    line-height: 130px;
    .header-logo {
      width: 185px;
      margin: 0 auto;
      &__icon {
        padding: 30px 0 30px 0;
      }
    }
  }

  .item-form {
    width: 800px;
    margin: 0 auto;
    background: #fff;

    .item-form-image{
      padding: 40px;
      .item-image{
        height: 200px;
        #preview{
          margin-bottom: 16px;
          display: flex;
          h1{
            font-weight: 600;
          }
          .form-require {
            @include require;
            height: 20px;
          }
        }
        .dropzone{
          display: flex;
          align-items: center;
          background-color: rgb(245, 245, 245);
          border-width: 1px;
          border-style: dashed;
          border-color: rgb(204, 204, 204);
          .item-label {
            margin: 0 auto;
            height: 150px;
            width: 100%;
            .dropzone-text{
              pre{
                font-size: 16px;
                text-align: center;
                height: 100%;
                padding: 50px;
                line-height: 1.5;
              }
            }
            #upload-image{
              display: none;
            }
          }
        }
      }
    }

    .item-form-1 {
      border-top: 1px solid #eee;
      padding: 40px;
      .item-name {
        .item-label {
          font-weight: 600;
        }
        .form-require {
          @include require;
        }
        .item-input {
          &__form {
            @include input;
          }
        }
      }
      .item-text {
        margin-top: 32px;
        .item-label {
          font-weight: 600;
        }
        .form-require {
          @include require;
        }
        .item-input {
          &__form{
            @include input;
            resize: none;
            height: 150px;
            line-height: 1.5;
          }
        }
      }
    }

    .item-form-2 {
      border-top: 1px solid #eee;
      padding: 40px;
      display: inline-flex;
      width: 720px;
      h2{
        color: #888;
        font-weight: 600;
        width: 35%;
      }
      .registration{
        width: 65%;
        .item-category {
          margin-top: 32px;
          .item-label {
            font-weight: 600;
          }
          .form-require {
            @include require;
          }
          .item-input {
            #item_category_id {
              @include select;
            }
          }
        }
        .item-size {
          margin-top: 32px;
          .item-label {
            font-weight: 600;
          }
          .form-require {
            @include require;
            background: #BFBFBF;
          }
          .item-input {
            #item_size {
              @include select;
            }
          }
        }
        .item-burad{
          margin-top: 32px;
          .item-label {
            font-weight: 600;
          }
          .form-require {
            @include require;
            background: #BFBFBF;
          }
          .item-input {
            &__form {
              @include input;
            }
          }
        }
        .item-condition{
          margin-top: 32px;
          .item-label {
            font-weight: 600;
          }
          .form-require {
            @include require;
          }
          .item-input {
            #item_condition {
              @include select;
            }
          }
        }
      }
    }

    .item-form-3 {
      padding: 40px;
      border-top: 1px solid #eee;
      display: inline-flex;
      width: 720px;
      h3{
        color: #888;
        font-weight: 600;
        width: 35%;
      }
      .registration{
        width: 65%;
        .item-shipping_price{
          margin-top: 32px;
          .item-label {
            font-weight: 600;
          }
          .form-require {
            @include require;
          }
          .item-input {
            #item_shipping_price {
              @include select;
            }
          }
        }
        .item-shipping_method{
          margin-top: 32px;
          .item-label {
            font-weight: 600;
          }
          .form-require {
            @include require;
          }
          .item-input {
            #item_shipping_method {
              @include select;
            }
          }
        }
        .item-prefecture_id{
          margin-top: 32px;
          .item-label {
            font-weight: 600;
          }
          .form-require {
            @include require;
          }
          .item-input {
            #item_prefecture_id {
              @include select;
            }
          }
        }
        .item-shipping_days{
          margin-top: 32px;
          .item-label {
            font-weight: 600;
          }
          .form-require {
            @include require;
          }
          .item-input {
            #item_shipping_days{
              @include select;
            }
          }
        }
      }
    }

    .item-form-4 {
      padding: 40px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      display: inline-flex;
      width: 720px;
      h4{
        color: #888;
        font-weight: 600;
        width: 35%;
      }
      .registration{
        width: 65%;
        .item-price{
          display: flex;
          margin-top: 32px;
          padding: 0 0 24px;
          border-bottom: 1px solid #ccc;
          .item-price-left{
            line-height: 65px;
            .item-label {
              font-weight: 600;
            }
            .form-require {
              @include require;
            }
          }
          .item-input {
            display: flex;
            text-align: right;
            p{
              line-height: 75px;
              vertical-align: middle;
              padding-right: 10px;
            }
            &__form {
              @include input;
              text-align: right;
            }
          }
        }
        .sales-fee{
          padding: 24px 0;
          border-bottom: 1px solid #ccc;
        }
        .sales-profit{
          padding: 24px 0;
        }
      }
    }



    .item-form-btn{
      padding: 40px;
      margin: 0 auto;
      margin-top: 32px;
      font-size: 18px;
      .consent{
        font-size: 14px;
        margin-bottom: 20px;
      }
      .submit {
        margin: 24px 0 0;
        background: $red;
        border: 1px solid $red;
        color: #fff;
        width: 100%;
        line-height: 55px;
        cursor: pointer;
        margin-bottom: 24px;
      }
      .root-btn{
        line-height: 55px;
        background-color: #bfbfbf;
        cursor: pointer;
        margin: 0 auto;
        margin-bottom: 24px;
        text-align: center;
        width: 45%;
        a{
          text-decoration: none;
        }
        a:visited {
          color: #222222;
        }
      }
    }
  }

  .item-fooder{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    nav{
      ul{
        list-style: none;
        li{
          display: inline-block;
          color: #333;
          font-size: 12px;
          padding-left: 10px;
          a{
            text-decoration: none;
          }
          a:visited{
            color: #333;
          }
        }
      }
    }
    .fooder_logo{
      width: 80px;
      padding-top: 30px;
      padding-bottom: 10px;
    }
    p{
      font-size: 13px;
    }
  }
}
