.single
  .top_image
    = image_tag 'top_page/top1.jpg', alt: "Slider"
  .top_image
    = image_tag 'top_page/top2.jpg', alt: "Slider"
  .top_image
    = image_tag 'top_page/top3.png', alt: "Slider"
    