.header
  .header-inner
    .header-inner__upper
      .header-inner__upper__site-logo
        %img{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", :width => "140px"}/
      .header-inner__upper__search-form
        %form.form{:action => ""}
          %input.form_text{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
          %i.fa.fa-search-minus
    .header-inner__lower
      .header-inner__lower__left
        %i.fa.fa-search-minus
        .header-inner__lower__left__search-list
          %h1 カテゴリーから探す
        %i.fa.fa-search-minus
        .header-inner__lower__left__search-list
          %h1 ブランドから探す
      .header-inner__lower__right
        = link_to "新規会員登録", step0_signup_index_path, class: 'btn'
      %button.btns{:autofocus => "true", :type => "buttun"} ログイン