<div class="header">
<div class="header-inner">


<div class=header-inner__upper>
<div class="header-inner__upper__site-logo">
<img src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg" alt="" class="" width="140px">
</div>
<div class="header-inner__upper__search-form">
<form action="" class="form">
<input type="search" name="keyword" placeholder="何かお探しですか？" class="form_text" value="" >
<i class="fa fa-search-minus"></i>
</form>
</div>
</div>


<div class= "header-inner__lower">
<div class="header-inner__lower__left">
<i class="fa fa-search-minus"></i>
<div class="header-inner__lower__left__search-list">
<h1>カテゴリーから探す</h1>
</div>
<i class="fa fa-search-minus"></i>
<div class="header-inner__lower__left__search-list">
<h1>ブランドから探す</h1>
</div>
</div>

<div class="header-inner__lower__right">
<button type= "buttun" class="btn" autofocus= "true">新規会員登録</button>
</div>
<button type= "buttun" class="btns" autofocus= "true">ログイン</button>
</div>
</div>



</div>
</div>

