<div class="item">
<div class= "item-header">
<img src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg" width= "185px" width: 49px;>
</div>

<div class= "item-exhibit">
<div class= "item-exhibit__content">
<h1>商品の情報を入力</h1>
</div>
<div class= "item-exhibit__image">
<div class= "item-exhibit__image__title">
<h1>出品画像</h1>
<button type=  "button" name= "name" value= "value">必須</button>
</div>
<div class= "item-exhibit__image__text">
<p>最大10枚までアップロードできます</p>
</div>
<div class= "item-exhibit__image__photo">
<h1>ドラッグアンドドロップ</h1>
<p>またはクリックしてファイルをダウンロード</p>
</div>
<div class= "item-exhibit__image__border">
</div>
<div class= "item-exhibit__name">
</div>
<div class= "item-exhibit__details">
</div>
<div class= "item-exhibit__delivery">
</div>
<div class= "item-exhibit__price">
</div>
</div>

<div class= "item-footer">
</div>
</div>
