.breadcrumbs {
  padding: 10px 200px;
  border-top: 2px solid #F5F5F5;
  border-bottom: 2px solid #F5F5F5;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
}
.breadcrumbs ul {
  display: flex;
}
.breadcrumbs ul li{
  padding: 0 5px;
}

.panpan {
  text-decoration: none;
  color: black;
}