@import "reset";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "slick-theme";
@import "slick";
@import "items/items";
@import "items/top_main";
@import "users/step-1";
@import 'users/signup';
@import 'items/top-foot';
@import "users/step-2";
@import "personals";
@import "users/step-3";
@import "items/new";
@import "users/step-4";
@import "users/login";
@import "users/forget";
@import "users/complete";
@import "card";
@import "users/sidehead";
@import "pan";
@import "users";


body{
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  }



