.mypage_main{
  margin:40px 210px 0;
  padding-bottom:40px;
  display:flex;
  .Personal_information{
  width:700px;
  height:1208px;
  float: right;
  .head_top{
  font-size:24px;
  padding:8px 24px;
  text-align: center;
  font-weight: bold;
  border-bottom: solid 2px #f5f5f5;
  }
  .profile_contents{
    padding:64px;
    height: 1158px;
      .text_left{
      margin-top:8px;
      font-size:14px;
      }
      .text_right{
      font-size:14px;
      text-align:right;
      margin-top:8px;
      }
      .text_right a{
      color:#0099e8;
      text-decoration:none;
      }
      .personal{
      font-size:14px;
      margin-top:40px;
        label{

        }
        .bottom{
        margin-top:8px;
        color:#333;
        }
      }

      .Street_address{
      margin-top:40px;
        label{
        font-size:14px;
        }
        span{
        margin-left:8px;
        padding:2px 4px;
        background-color: #ccc;
        color:#fff;
        border-radius: 2px;
        font-size:12px;
        }
        .text_box{
        width:100%;
        height: 48px;
        margin-top:8px;
        padding:10px 16px 8px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #ccc;
        }
      }
      .btn_red{
        margin-top:40px;
        width:100%;
        height: 50px;
        font-size:14px;
        color:#fff;
        background-color: #ea352d;
      }
      .Registration{
        text-align:right;
        margin-top:50px;
      }
      .Registration a{
      color:#0099e8;
      text-decoration:none;
      }
  }
}
}
select{
  background-color:#fff;
}