.profile{
width:700px;
  .profile_header{
    height: 50px;
    text-align: center;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    padding: 8px 24px;
    box-sizing:border-box;
  }
  .contents{
    height: 518px;
    .username_setting{
      height: 156px;
      padding:72px 16px 24px;
      box-sizing:border-box;
      text-align: center;
      background-image: url(profile_image);
      .namegroup{
      vertical-align: middle;
      display: inline;
      }
      .user_icon{
      height: 60px;
      height: 60px;
      border-radius:50%;
      }
      #profile_text{
      height: 48px;
      width:220px;
      box-sizing: border-box;
      padding:10px 16px 8px;
      margin-left:8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      touch-action: manipulation;
      }
    }
    .content_setting{
    height: 362px;
    padding:40px 16px;
    box-sizing: border-box;
      .content{
      height: 216px;
      width:668px;
      padding:10px;
      box-sizing: border-box;
      resize: none;
      border: 1px solid #ccc;
      }
      .btn_red{
      margin-top:16px;
      width:668px;
      height: 50px;
      background-color: #EA352D;
      color:#ffffff;
      font-size:14px;
      border: 1px solid #ea352d;
      cursor: pointer;
      }
    }
  }
}