.single-header {
  height: 128px;
  text-align: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: block;
  background: whitesmoke;
}

 .select {
  display: block;
  margin: 0;
  padding: 0;
  background: whitesmoke;
  height: calc(100vh - 128px -330px);
  .select-content {
    width: 700px;
    margin: 0 auto;
    background: white;
    text-align: center;
    height: 370px;
    &__title {
      border-bottom: 2px solid whitesmoke;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      font-size: 22px;
      padding: 32px;
      font-weight: bold;
    }
    &__btn1 {
      color: #fff;
      background-color: #ea352d;
      border-radius: 4px;
      border: 1px solid transparent;
      line-height: 48px;
      font-size: 14px;
      cursor: pointer;
      margin: 20px 180px;
      margin-top: 40px;
    }
    &__btn2 {
      color: #fff;
      border-radius: 4px;
      border: 1px solid transparent;
      line-height: 48px;
      font-size: 14px;
      cursor: pointer;
      margin: 20px 180px;
      background: #385185;
      color: #fff;
    }
    &__btn3 {
      border: #979797 solid 1px;
      color: #333;
      border-radius: 4px;
      line-height: 48px;
      font-size: 14px;
      cursor: pointer;
      margin: 20px 180px;
    }
  }
 }

 .single-footer {
   background: whitesmoke; 
   height: 330px;
   text-align: center;
   margin: 0 auto;
   &__content {
     font-size: 12px;
     padding-top: 150px;
     display: inline-flex;
     &__1 {
       padding: 0 10px;
     }
     &__2 {
       padding: 0 10px;
     }
     &__3 {
       padding: 0 10px;
     }
   }
   &__image {
    padding-top: 30px;
   }
 }