$red: #ea352d;
$blue: #86D6FC;

.step-2{
  color: #333;
  text-align: center;
  background-color: #F5F5F5;

  .step-2_header{
    display: flex;
    justify-content: center;
    padding: 40px 0;
    &__icon{
      .header_logo{
        width: 180px;
        padding-right: 44px;
      }
    }
  }

  .form-2{
    width: 700px;
    background-color: white;
    margin: 0 auto;
    font-size: 14px;
    h1{
      font-size: 22px;
      font-weight: bold;
      padding: 32px;
      border-bottom: solid 1px #c1c1c14f;
    }

    .form-user{
      padding: 40px 180px;
      text-align: left;
      &__phonenumber{
        label{
          font-weight: 600;
        }
        .input-default{
          width: 100%;
          margin: 8px 0 0;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          line-height: 1.5;
          font-size: 16px;
          height: 30px;
          &:focus{
            border: 1px solid $blue;
            outline: 0;
          }
        }
        p{
          font-size: 14px;
          margin: 8px 0 0;
        }
      }
      .sms-btn{
        margin-top: 32px;
        background: $red;
        border: 1px solid $red;
        color: #fff;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
      }
      p{
        margin: 8px 0 0;
      }
      .user-text{
        margin-top: 32px;
        text-align: right;
        color: $blue;
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        .fa-angle-right{
          font-size: 20px;
        }
      }
    }
  }

  .step-2_fooder{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    nav{
      ul{
        list-style: none;
        li{
          display: inline-block;
          color: #333;
          font-size: 12px;
          padding-left: 10px;
          a{
            text-decoration: none;
          }
          a:visited{
            color: #333;
          }
        }
      }
    }
    .fooder_logo{
      width: 80px;
      padding-top: 30px;
      padding-bottom: 10px;
    }
    p{
      font-size: 13px;
    }
  }
}